<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"> 
    <title>Create A Quiz!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Create Quiz for {{ subject }}</h1>
    <form method="post">
    <div id="quiz_container">
        <h1>Create Quiz</h1>
        <div class="question_options">
            <h2>Q 1</h2>
            <label for="question_1">Question 1: </label>
            <input id="question_1" class="question" type="text" name="question_1" required="required">
            <br>
            <!--Option A-->
            <label for="option_1_A">Option A: </label>
            <input id="option_1_A" class="txt_field" type="text" name="option_1_A" required="required">
            <input class="checkbox" type="radio" name="correct_option_1" value="A" required="required">
            <!--Option B-->
            <label for="option_1_B">Option B: </label>
            <input id="option_1_B" class="txt_field" type="text" name="option_1_B" required="required">
            <input class="checkbox" type="radio" name="correct_option_1" value="B" required="required">
            <!--Option C-->
            <label for="option_1_C">Option C: </label>
            <input id="option_1_C" class="txt_field" type="text" name="option_1_C" required="required">
            <input class="checkbox" type="radio" name="correct_option_1" value="C" required="required">
            <!--Option D-->
            <label for="option_1_D">Option D: </label>
            <input id="option_1_D" class="txt_field" type="text" name="option_1_D" required="required">
            <input class="checkbox" type="radio" name="correct_option_1" value="D" required="required">
        </div>
		<div class="question_options">
            <h2>Q 2</h2>
            <label for="question_2">Question 2: </label>
            <input id="question_2" class="question" type="text" name="question_2" required="required">
            <br>
            <!--Option A-->
            <label for="option_2_A">Option A: </label>
            <input id="option_2_A" class="txt_field" type="text" name="option_2_A" required="required">
            <input class="checkbox" type="radio" name="correct_option_2" value="A" required="required">
            <!--Option B-->
            <label for="option_2_B">Option B: </label>
            <input id="option_2_B" class="txt_field" type="text" name="option_2_B" required="required">
            <input class="checkbox" type="radio" name="correct_option_2" value="B" required="required">
            <!--Option C-->
            <label for="option_2_C">Option C: </label>
            <input id="option_2_C" class="txt_field" type="text" name="option_2_C" required="required">
            <input class="checkbox" type="radio" name="correct_option_2" value="C" required="required">
            <!--Option D-->
            <label for="option_2_D">Option D: </label>
            <input id="option_2_D" class="txt_field" type="text" name="option_2_D" required="required">
            <input class="checkbox" type="radio" name="correct_option_2" value="D" required="required">
        </div>
		<div class="question_options">
            <h2>Q 3</h2>
            <label for="question_3">Question 3: </label>
            <input id="question_3" class="question" type="text" name="question_3" required="required">
            <br>
            <!--Option A-->
            <label for="option_3_A">Option A: </label>
            <input id="option_3_A" class="txt_field" type="text" name="option_3_A" required="required">
            <input class="checkbox" type="radio" name="correct_option_3" value="A" required="required">
            <!--Option B-->
            <label for="option_3_B">Option B: </label>
            <input id="option_3_B" class="txt_field" type="text" name="option_3_B" required="required">
            <input class="checkbox" type="radio" name="correct_option_3" value="B" required="required">
            <!--Option C-->
            <label for="option_3_C">Option C: </label>
            <input id="option_3_C" class="txt_field" type="text" name="option_3_C" required="required">
            <input class="checkbox" type="radio" name="correct_option_3" value="C" required="required">
            <!--Option D-->
            <label for="option_3_D">Option D: </label>
            <input id="option_3_D" class="txt_field" type="text" name="option_3_D" required="required">
            <input class="checkbox" type="radio" name="correct_option_3" value="D" required="required">
        </div>
		<div class="question_options">
            <h2>Q 4</h2>
            <label for="question_4">Question 4: </label>
            <input id="question_4" class="question" type="text" name="question_4" required="required">
            <br>
            <!--Option A-->
            <label for="option_4_A">Option A: </label>
            <input id="option_4_A" class="txt_field" type="text" name="option_4_A" required="required">
            <input class="checkbox" type="radio" name="correct_option_4" value="A" required="required">
            <!--Option B-->
            <label for="option_4_B">Option B: </label>
            <input id="option_4_B" class="txt_field" type="text" name="option_4_B" required="required">
            <input class="checkbox" type="radio" name="correct_option_4" value="B" required="required">
            <!--Option C-->
            <label for="option_4_C">Option C: </label>
            <input id="option_4_C" class="txt_field" type="text" name="option_4_C" required="required">
            <input class="checkbox" type="radio" name="correct_option_4" value="C" required="required">
            <!--Option D-->
            <label for="option_4_D">Option D: </label>
            <input id="option_4_D" class="txt_field" type="text" name="option_4_D" required="required">
            <input class="checkbox" type="radio" name="correct_option_4" value="D" required="required">
        </div>
        <div class="question_options">
            <h2>Q 5</h2>
            <label for="question_5">Question 5: </label>
            <input id="question_5" class="question" type="text" name="question_5" required="required">
            <br>
            <!--Option A-->
            <label for="option_5_A">Option A: </label>
            <input id="option_5_A" class="txt_field" type="text" name="option_5_A" required="required">
            <input class="checkbox" type="radio" name="correct_option_5" value="A" required="required">
            <!--Option B-->
            <label for="option_5_B">Option B: </label>
            <input id="option_5_B" class="txt_field" type="text" name="option_5_B" required="required">
            <input class="checkbox" type="radio" name="correct_option_5" value="B" required="required">
            <!--Option C-->
            <label for="option_5_C">Option C: </label>
            <input id="option_5_C" class="txt_field" type="text" name="option_5_C" required="required">
            <input class="checkbox" type="radio" name="correct_option_5" value="C" required="required">
            <!--Option D-->
            <label for="option_5_D">Option D: </label>
            <input id="option_5_D" class="txt_field" type="text" name="option_5_D" required="required">
            <input class="checkbox" type="radio" name="correct_option_5" value="D" required="required">
        </div>
    </div>
    <!--Next question/Submit quiz-->
    <div class="create_quiz_button">
        <button type="submit" class="btn btn-primary">Submit Quiz</button>
    </form>
</div>
</body>
</html>